div.tile{
position:absolute; 
height:50px;
width:50px;
font-size:9px;
border:2px solid #000;
}
div.t0{
background-color:#333;
color:#FF0;
}
div.t10{
background-color:#0F0;
color:#000;
}
div.t11{
background-color:#00F;
color:#FF0;
}
div.t12{
background-color:#00F;
color:#FF0;
}
div.t20{
background-color:#000;
color:#FF0;
}
div.t30{
background-color:#FFF;
color:#000;
}
div.t40{
background-color:#666;
color:#FF0;
}
div.t50{
background-color:#CF0;
color:#000;
}
div.t51{
background-color:#F60;
color:#000;
}
div.t52{
background-color:#C06;
color:#FF0;
}